[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium="4.1.1"
webdriver-manager="*"
pynput="*"
pyautogui="*"
pillow="*"
pandas="*"
openpyxl = "*"
opencv-python="*"

[dev-packages]

[requires]
python_version = "3.12"
